<!-- About Section -->
<section id="about" class="pad8y contain page">
  <div class="limiter clearfix pad4y">
    <div class="col8 clearfix space-bottom2 contain">
      <div class="col10 margin2r space-bottom2">
        <h1 class="space-bottom2">State of the Map Brasil 2025!</h1>
        <p>O State of the Map é um congresso anual de usuários do OpenStreetMap e,
          nesse ano, teremos a segunda edição regional brasileira, o <b>SotM Brasil 2025</b>!
          <br><br>
          A Conferência é promovida pela <b>Universidade Federal do Bahia</b> e coordenada pelo grupo YouthMappers at UFBA e pela Pós-graduação em Engenharia Civil (PPEC),
          em parceria com o <b>GeoPublica</b>, um encontro anual de produtores e usuários de geoinformação no Estado da Bahia, que vai para sua 14ª edição.
          <br><br>
          O evento tem sua sede em <b>Salvador-Bahia</b>, e será realizado em formato presencial
          (com transmissão pela Internet) entre os dias <b>16 e 19 de setembro de 2025</b>.
          <br><br>

          Estão programadas diversas atividades, como palestras, workshops, painéis e rodas de discussão, além do
          <b>Academic Track</b>, que este ano terá submissão e processo de revisão <b>integrado ao SotM LatAm</b>, realizado em Medellín-Colômbia, entre os dias 04 e 06 de setembro.

          A Conferência contará com a submissão, avaliação e publicação integrada dos anais de resumos expandidos,
          que foram aprovados pelos revisores e chancelados pelo Comitê Científico de ambos os eventos.
          Os resumos expandidos são originais e retratam experiências acadêmicas e práticas, desenvolvidas com dados da
          base do OpenStreetMap, seus editores, além de aplicativos de campo.<br><br>

          Devido ao papel do capítulo <i>YouthMappers at UFBA</i>, está previsto como uma das
          atividades em destaque no evento o <b>5º encontro dos capítulos brasileiros YouthMappers</b>.<br><br>

          Visite a <i><a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_Brasil_2025">Wiki State of the Map
              Brasil 2025</a></i><br><br>
          <br>

        </p>

        <h2 class="small-title uppercase"><b>Quando?</b></h2>
        <p>
         16 a 19 de setembro de 2025
        </p><br><br>

        <h2 class="small-title uppercase"><b>Onde?</b></h2>
        <p>
          Dias 16 a 18 de setembro, no auditório do Tribunal de Justiça da Bahia - CAB, na cidade de Salvador, Bahia, Brasil. <br>
          Dia 19 de setembro, na Escola Politécnica da Universidade Federal da Bahia - Federação, na cidade de Salvador, Bahia, Brasil. <br><br>
          <a href="https://sotm-br.github.io/2025/venue/" target="_blank">
            Veja detalhes sobre localização, transporte, hospedagem e alimentação
          </a>
          <br><br>

        </p>

        <h2 class="small-title uppercase"><b>Informações de contato</b></h2><br>
        <p>
          AC. Profa. Dra. Patrícia Lustosa Brito e Profa. MSc. Fabíola Andrade Souza <br>
          Universidade Federal da Bahia <br>
          Escola Politécnica. Departamento de Engenharia de Transportes e Geodesia.<br>
          Rua Aristides Novis, 02. <br>
          Federação, Salvador, Bahia. Brasil.<br>
          CEP: 40210-630.
        </p><br><br>
        <h3 class="small-title uppercase"><b>E-mail para contato:</b></h3><br>
        <p>
          sotmbrasil2025@gmail.com<br><br>
        </p><br><br>
        <h3 class="small-title uppercase">Comitê Organizador</h3><br>
        <p>
        <ul>
          <li><i>Patrícia Lustosa Brito - UFBA - Coordenadora geral</i></li>
          <li><i>Fabíola Andrade Souza - UFBA - Vice-coordenadora</i></li>
          <li><i>Eliane Gama - Meninas da Geo - IFPA</i></li>
          <li><i>Elmo Bispo de Oliveira - UFBA</i></li>
          <li><i>Everton Bortolini - UFPR</i></li>
          <li><i>Kauê de Moraes Vestena - UFPR</i></li>
          <li><i>Laura Fernandes de Souza - UFBA</i></li>
          <li><i>Ludmilla Rodrigues Santana Borges - UFBA</i></li>
          <li><i>Milena Moreira Santos - UFBA</i></li>
          <li><i>Nathan Damas Antonio - UFPR</i></li>
          <li><i>Pedro Antonio Maciel Dias Melhado - UFBA</i></li>
          <li><i>Priscila Naiara Santos Andrade - UFBA</i></li>
          <li><i>Raphael de Assis - UMBRAOSM</i></li>
          <li><i>Rodrigo Smarzaro - UFV</i></li>
          <li><i>Vagner Santana Bispo Brandão - UFBA</i></li>
        </ul>
        </p> <br><br>
        <h3 class="small-title uppercase">Comitê Científico de Avaliação</h3><br>
        <p>
        <ul>
          <li><i>EM BREVE</i></li>
        </ul>
        </p>

      </div>
    </div>
    <div class="col4 clearfix contain">


     <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
      <p>
        <a href="https://openstreetmap.org"><img src="img/osm.svg" style="height:85px; margin-top:20px;" /></a>
      </p>
      <p>
        <a href="https://ufba.br/"><img src="https://ufpr.br/wp-content/uploads/2015/11/ufpr_1000.jpg"
            style="height:85px; margin-top:20px;" /></a>
      </p>
    </div>
  </div>
</section>
