=== '''Comitê Organizador''' ===

* ''Patrícia Lustosa Brito - UFBA - Coordenadora geral''
* ''Fabíola Andrade Souza - UFBA - Vice-coordenadora''
* ''Eliane Gama - Meninas da Geo''
* ''Elmo Bispo de Oliveira - UFBA''
* ''Everton Bortolini - UFPR''
* ''Kauê de Moraes Vestena - UFPR''
* ''Laura Fernandes de Souza - UFBA''
* ''Ludmilla Rodrigues Santana Borges - UFBA''
* ''Milena Moreira Santos - UFBA''
* ''Nathan Damas Antonio - UFPR''
* ''Pedro Antonio Maciel Dias Melhado - UFBA''
* ''Priscila Naiara Santos Andrade - UFBA''
* ''Raphael de Assis - UMBRAOSM''
* ''Rodrigo Smarzaro - UFV''
* ''Vagner Santana Bispo Brandão - UFBA''
