=== '''Comitê Científico''' ===

Adriana Alexandria Machado / UFPR
Adryane Gorayeb / UFC
Alessandra Svonka Palmeiro / UFRRJ
Ana Cláudia dos Santos Luciano / USP
André Luiz Alencar de Mendonça / UFAM
Angélica Carvalho Di Maio / UFF
Antônio Laranjeira / UFBA
Bruno Leonardo Gonçalves e Castro  / UNEB
Caio dos Anjos Paiva / UFPR
Claúdia Robbi Sluter / UFRGS
Claudia Rojas Bravo / LabComún - Instituto Tecnológico de Costa Rica
Clodoveu Augusto Davis Júnior / UFMG
Cyntia Virolli Cid Molina / FAAP
Danilo Heitor Caires Tinoco Bisneto Melo / UFBA
Darlan Miranda Nunes / UFV
Diego Munguía Molina / Instituto Tecnológico de Costa Rica
Doris Carmiña Ruiz Ramírez  / Universidad Internacional del Trópico Americano (Unitrópico)
Elaine Gomes / UFBA
Elias Nasr Naim / UERJ
Érika do Carmo Cerqueira / UFBA
Fábia Zaloti / UFRJ
Fabiano Freiman / UFBA
Fabíola Andrade Souza / UFBA
Fernanda Puga / UFBA
Gustavo Mota de Sousa / UFRRJ
Hideo Araki / UFPR
Homero Fonseca / USP
Ivanildo Barbosa / IME
Jaime Gutiérrez Alfaro / LabComún - Instituto Tecnológico de Costa Rica
Jorge Ubirajara Pedreira Junior / UFBA
Juan Pedro Moreno Delgado / UFBA
Júlia Strauch / UFF
July Andrea Suárez Gómez / Universidad Nacional de Colombia
Leonardo Jiménez García / Universidad Autónoma Latinoamericana
Luciene Stamato Delazari / UFPR
Luis Sebastian Bravo Chacon / Universidad Nacional de Colombia
Manoel do Couto Fernandes / UFRJ
Marcio Augusto Reolon Schmidt  / UFU
Marcos de Oliveira De Carvalho / UFBA
Mauro Alixandrini / UFBA
Naissa Batista Luz / UFPR
Narcélio de Sá / Prefeitura de Caucaia - CE
Patricia Lustosa Brito / UFBA
Paulo Márcio Leal de Menezes / UFRJ
Péricles Luiz Picanço Junior / UFPI
Ricardo Lustosa Brito / UFOB
Ricardo Vilar Neves / UFRRJ
Rodrigo Argenton Freire / UFU
Rodrigo Smarzaro / UFV
Sandra Milena Díaz López  / Universidad Industrial de Santander 
Séverin Menard
Sharon Alarcón García / Universidad Externado
Silvana Philippi Camboim / UFPR
Silvia Elena Ventorini / UFSJ
Tatiana Pará / IFPA
Vivian de Oliveira Fernandes / UFBA
