<!-- Footer -->
<footer class="contain" id="footer">
  <div class="limiter">
    <div class="pad2y clearfix">
      <div class="space-bottom1 col12 clearfix footer-links">
        <div class="col3 pad4x hide-mobile">
        </div>

        <nav class="col3 pad2x">

          <a class="block"
            href="https://drive.google.com/drive/u/3/folders/1nzF95ANTwLmMua4MMriyeUuMbUilDjoC"
            block>Template do Resumo Academic Track</a>

          <a class="block" href="{{site.baseurl}}/codeofconduct/">Código de conduta</a>
        </nav>

        <nav class="col3 pad2x">
        </nav>

        <nav class="col3 pad2x">
          <a class="block" href="https://github.com/sotm-br/2025">GitHub&nbsp;<span class="icon github"></span></a>
          <a class="block" href="https://blog.openstreetmap.org/">OSM blog</a>
          <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_Brasil_2025">SotM Brasil 2025 Wiki page</a>
        </nav>
        <nav class="col3">
          <!-- <img src="{{site.baseurl}}/img/logo/sotm_br-logo.svg" class="logo" /> -->
          <img src="{{site.baseurl}}/img/logo/logo-branco-pequeno.png" class="logo" />
        </nav>
      </div>
    </div>
    <div class="center">
      <p>
        <a href="mailto:sotmbrasil2025@gmail.com"><span class="icon mail" aria-hidden="true"></span>&nbsp;
        sotmbrasil2025@gmail.com</a> - Webmasters: Fabíola Andrade, Gabriel Cury, Kauê Vestena, Milena Moreira, Nathan Damas e Pedro Melhado
        <br>
        <p> Logotipo SotM BR 2025: Pedro Melhado </p>
        <br>
        <p> Fotografias de Salvador-Bahia </p>  
        <a href="https://www.instagram.com/soarees.filipe">Filipe Soares</a> e <a href="https://www.instagram.com/ocavalcante20">Lucas Cavalcante</a>
     
      </p>
    </div>
  </div>
</footer>
