<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="limiter">
      <!--<div class="logo">
                    <img src="img/logo/sotm_br-logo.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>-->

      <div class="attending">
        <img style="vertical-align: middle; width: 250px;" src="img/logo/logo-preto-pequeno.png">
        <h1 style="text-align:center">State of the Map <br>Brasil 2025<br></h1>

        <!--<p><h2 style="text-align:center"><a href="https://forms.gle/VZqRRtp4wRHmxz756" target="_blank">Formulário de inscrição no SotM Brasil 2023</a></h2></p> -->

        <!--<p><h2 style="text-align:center"><a href="https://docs.google.com/presentation/d/1ukBIGUDsGS55Uey67q9KEuJMXetBhl4t/edit?usp=sharing&ouid=114504818705962648381&rtpof=true&sd=true" target="_blank">Download do modelo de pôster!</a></h2></p><br>-->
        <p>
        <h2 style="text-align:center"><a href="https://www.youtube.com/channel/UCSNUjoBFh9BMjE4Zn4WQMMA"
            target="_blank">Canal YouTube!</a></h2>
        </p>

        <p>
        <h2 style="text-align:center"><b><i><a
                href="https://ivides.org/olimpiada-brasileira-de-cartografia-obrac-2023/exposicao-virtual"
                target="_blank">Exposição Amazônia no Mapa </a></i></b></h2>
        </p>

        <p>
        <h2 style="text-align:center"><b><i><a href="https://sotm-br.github.io/2023/presentations/"
                target="_blank">Apresentações</a></i></b> [<a href="https://sotm-br.github.io/2023/presentations/"
            target="_blank">PDF</a>]</h2>
        </p>

        <p>
        <h2 style="text-align:center"><a href="https://sotm-br.github.io/2023/posters/" target="_blank">Anais e
            pôsteres</a></h2>
        </p>

        <p>
        <h2 style="text-align:center"><a href="https://sotm-br.github.io/2023/#sponsors" target="_blank">Patrocinadores
            e parceiros</a></h2>
        </p>

      </div>
    </div>
  </div>
  <div class="credits">
    <!--Logo: Feye Andal &mdash; Background: © Petar Milošević <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>-->
  </div>
</header>