<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="limiter">
      <div class="attending">
        <img style="vertical-align: middle; width: 250px;" src="img/logo/logo-preto-pequeno.png">
        <h1 style="text-align:center">State of the Map<br>Brasil 2025<br></h1>
        <p>
        <h2 style="text-align:center">
          <a href="{{site.baseurl}}/calls/">Chamada para Submissões <br> Academic Track</a>
        </h2>
        </p>
     
        <p>
        <h2 style="text-align:center"><a href="https://geopublica.ide.ba.gov.br/"
            target="_blank">Integração GeoPública</a></h2>
        </p>

        <!-- <p>
        <h2 style="text-align:center"><a href="https://www.youtube.com/@gistv7661"
            target="_blank">Canal no YouTube!</a></h2>
        </p>

        <p>
        <h2 style="text-align:center"><b><i><a href="https://sotm-br.github.io/2025/presentations/"
                target="_blank">Apresentações</a></i></b> [<a href="https://sotm-br.github.io/2025/presentations/"
            target="_blank">PDF</a>]</h2>
        </p>

        <p>
        <h2 style="text-align:center"><a href="https://sotm-br.github.io/2025/posters/" target="_blank">Anais e pôsteres</a></h2>
        </p>   -->

        <p>
        <h2 style="text-align:center"><a href="https://sotm-br.github.io/2025/#sponsors" target="_blank">Organização e Parcerias</a></h2>
        </p>

      </div>
    </div>
  </div>
  <div class="credits">
    <!--Logo: Feye Andal &mdash; Background: © Petar Milošević <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>-->
  </div>
</header>
