<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top  {% if page.role != " index" %} top-nav-collapse stay-collapsed {%
    endif %}" role="navigation">
    <div class="limiter">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="icon menu"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/">
                State of the Map Brasil 2023
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>

                <li>
                    <a class="{% if page.url contains '/programme' %}active{% endif %}"
                        href="{{site.baseurl}}/programme/">Programação</a>
                </li>

                <li>
                    <a class="{% if page.url contains '/venue' %}active{% endif %}"
                        href="{{site.baseurl}}/venue/">Local</a>
                </li>

                <li>
                    <a class="{% if page.url contains '/posters' %}active{% endif %}"
                        href="{{site.baseurl}}/posters/">Publicações</a>
                </li>

                <li>
                    <a class="{% if page.url contains '/presentations' %}active{% endif %}"
                        href="{{site.baseurl}}/presentations/">Apresentações</a>
                </li>

                <li>
                    {% if page.role == 'index' %}
                    <a class="page-scroll" href="#sponsors">Patrocinadores e Parcerias</a>
                    {% else %}
                    <a class="" href="{{site.baseurl}}/#sponsors">Patrocinadores e Parcerias</a>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
</nav>