<section class="center page" id="newsletter">
  <div class="limiter pad8y">
    <h1 id="newsletter-title">Atualizações nas nossas redes sociais!!</h1>
    <br />

    <div class="redes-sociais">
      <a
        href="https://www.instagram.com/sotmbr2025/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="{{site.baseurl}}/img/logo/instagram.png"
          alt="logo_instagram"
          width="50px"
        />
      </a>

      <a
        href="https://t.me/OSMBrasil_Comunidade/68926"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="{{site.baseurl}}/img/logo/telegram.png"
          alt="logo_telegram"
          width="50px"
        />
      </a>

      <a
        href="https://chat.whatsapp.com/CCQMH2nSPCG3qXUPFBPPaK"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="{{site.baseurl}}/img/logo/whatsapp.png"
          alt="logo_whatsapp"
          width="50px"
        />
      </a>
    </div>
    <br />

    <!-- <h1><a href="https://www.youtube.com/@SEIBAHIA"><b>CANAL YOUTUBE - Evento transmitido on-line (exceto treinamentos)</b></a></h1> -->
  </div>
</section>
