<section class="center page" id="newsletter">
	<div class="limiter pad8y">

<h1>Atualizações nas nossas redes sociais!!</h1><br>

<h2><a href="https://www.instagram.com/sotmbr2025/">Instagram</a></h2>
<h2><a href="https://t.me/OSMBrasil_Comunidade/68926">Telegram (Comunidade OSM Brasil)</a></h2>
<h2><a href="https://chat.whatsapp.com/CCQMH2nSPCG3qXUPFBPPaK">Grupo público no WhatsApp</a></h2>
<br>

<!-- <h1><a href="https://www.youtube.com/@SEIBAHIA"><b>CANAL YOUTUBE - Evento transmitido on-line (exceto treinamentos)</b></a></h1> -->

	</div>
</section>
