<section class="contain dark" id="sponsors">
  <!-- Início Organizadores -->
  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 left">Organizadores</h1>
    
    <div class="clearfix space-bottom2">
      <a class="col4 pad2 center" href="https://ufba.br/" target="_blank">
        <img
          src="https://www.ufba.br/sites/portal.ufba.br/files/brasao_ufba.jpg"
          alt="Logo UFBA"
          style="height: 80px"
        />
      </a>
      <br />
        <b>Universidade Federal da Bahia</b>
      
      <a
        class="col4 pad2 center"
        href="https://openstreetmap.org"
        target="_blank"
      >
        <img src="img/osm.svg" alt="Logo OpenStreetMap" style="height: 80px" />
      </a>
      <br />
      <b>OpenStreetMap</b>

      <div class="clearfix space-bottom2">
        <a
          class="col4 pad2 center"
          href="https://www.ba.gov.br/sei/"
          target="_blank"
        >
          <img
            src="img/logo/logo_sei.png"
            alt="Logo SEI"
            style="height: 80px"
          />
        </a>
        <br />
        <b>Superintendência de Estudos Econômicos e Sociais da Bahia</b>
      </div>
    </div>

<!--    <div class="clearfix space-bottom4">
      <div class="col4 pad2 center">
        <b>Universidade Federal da Bahia </b>
      </div>
      <div class="col4 pad2 center">
        <b>OpenStreetMap</b>
      </div>

      <div class="col4 pad2 center">
        <b>Superintendência de Estudos Econômicos e Sociais da Bahia</b>
      </div>
    </div>
  </div> -->

  <div class="limiter pad4y clearfix">
    <!-- Início Parceiros -->
    <h1 class="space-bottom2 left">Parceiros</h1>

    <div class="clearfix space-top4 logo-grid-container">
      <!-- Bloco 1: CNPQ -->
      <div class="col3 pad2 center space-bottom4">
        <a
          href="http://memoria2.cnpq.br/web/guest/chamadas-publicas?p_p_id=resultadosportlet_WAR_resultadoscnpqportlet_INSTANCE_0ZaM&filtro=abertas&detalha=chamadaDivulgada&idDivulgacao=12765"
          target="_blank"
        >
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/cnpq-logo.png"
            alt="Logo CNPq"
            style="height: 70px; margin-bottom: 15px"
          /> </a
        ><br />
        <b>Edital nº 39/2024</b>
      </div>

      <!-- Bloco 2: TomTom -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.tomtom.com/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/tomtom.png"
            alt="Logo TomTom"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- GP Engenharia -->
      <div class="col3 pad2 center space-bottom4">
        <a href="http://gptopografia.com.br/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/gp_engenharia_sem_fundo.png"
            alt="Logo GP Engenharia"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- Bloco 3: DroneMapper -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.instagram.com/dronemapper23" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/DroneMapper.png"
            alt="Logo DroneMapper"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- Tecgeo -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://tecnologiageo.com.br/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/logo_tecgeo.png"
            alt="Logo Tecgeo"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- Bloco 4: Iquali -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.iquali.com.br/cursos" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/iquali.png"
            alt="Logo Iquali"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- Bloco 5: Due Viagens -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.instagram.com/dueviagens/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/dueviagens.jpeg"
            alt="Logo Due Viagens"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>

      <!-- Bloco 6: GeoTec Tecnologia -->
      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.geotectecnologia.com.br/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/geotec.jpeg"
            alt="Logo GeoTec Tecnologia"
            style="height: 70px; margin-bottom: 15px"
          /> </a>
      </div>
    </div>
  </div>

  <!-- Início dos Apoiadores -->
  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 left">Apoiadores</h1>

    <div class="clearfix space-top4 logo-grid-container">
      <!-- Linha 1 de Apoiadores -->

      <div class="col3 pad2 center space-bottom4">
        <a href="https://ppec.ufba.br/" target="_blank">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRufh_nf5lT-oHYouLxbYl6g5-KEZGT2jYpW9pc04zkR1GpXg6XlHAgc2QCP4K7qaYT7W4&usqp=CAU"
            alt="Logo PPEC"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>Programa de Pós-graduação em Engenharia Civil - UFBA</b>
      </div>

      <div class="col3 pad2 center space-bottom4">
        <a
          href="https://sites.google.com/view/youthmappersufba/p%C3%A1gina-inicial?authuser=0"
          target="_blank"
        >
          <img
            src="https://sotm-br.github.io/2025/img/logo/ym_ufba.jpg"
            alt="Logo YouthMappers UFBA"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>YouthMappers at UFBA</b>
      </div>

      <div class="col3 pad2 center space-bottom4">
        <a href="http://www.labgeolivre.ufpr.br/mapealivre/" target="_blank">
          <img
            src="https://sotm-br.github.io/2025/img/logo/mapeadores-pequeno.png"
            alt="Logo Mapeadores Livres"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>Mapeadores Livres UFPR</b>
      </div>

      <!-- Linha 2 de Apoiadores -->

      <div class="col3 pad2 center space-bottom4">
        <a
          href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV"
          target="_blank"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/d/d6/YouthMappersUFV_transparente.png"
            alt="Logo YouthMappers UFV"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>YouthMappers UFV</b>
      </div>

      <div class="col3 pad2 center space-bottom4">
        <a href="https://meninasdageo.com.br/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/meninas_da_geo.PNG"
            alt="Logo Meninas da Geo"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>Meninas da Geo</b>
      </div>

      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.instagram.com/geomapazonia/" target="_blank">
          <img
            src="https://raw.githubusercontent.com/sotm-br/2025/main/img/logo/geomapazonia.PNG"
            alt="Logo GeoMapAzônia"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>GeoMapAzônia</b>
      </div>

      <!-- Linha 3 de Apoiadores -->

      <div class="col3 pad2 center space-bottom4">
        <a href="https://www.instagram.com/umbraosmbrasil/" target="_blank">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Umbraosm-osm-brasil.jpg"
            alt="Logo UMBRAOSM"
            style="height: 60px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b>UMBRAOSM</b>
      </div>
    </div>
  </div>
</section>
