<section class="contain dark" id="sponsors">
  <!-- Início Organizadores -->
  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 left">Organizadores</h1>

    <div class="clearfix space-bottom2">
      <a class="col4 pad2 center" href="https://ufba.br/" target="_blank">
        <img
          src="https://www.ufba.br/sites/portal.ufba.br/files/brasao_ufba.jpg"
          alt="Logo UFBA"
          style="height: 80px"
        />
      </a>
      <a
        class="col4 pad2 center"
        href="https://openstreetmap.org"
        target="_blank"
      >
        <img src="img/osm.svg" alt="Logo OpenStreetMap" style="height: 80px" />
      </a>
      <div class="clearfix space-bottom2">
        <a
          class="col4 pad2 center"
          href="https://www.ba.gov.br/sei/"
          target="_blank"
        >
          <img
            src="img/logo/logo_sei.png"
            alt="Logo SEI"
            style="height: 80px"
          />
        </a>
      </div>
    </div>

    <div class="clearfix space-bottom4">
      <div class="col4 pad2 center">
        <b
          ><a
            >Universidade Federal da Bahia</a
          ></b
        >
      </div>
      <div class="col4 pad2 center">
        <b
          ><a
            >OpenStreetMap</a
          ></b
        >
      </div>

      <div class="col4 pad2 center">
        <b
          ><a
            >Superintendência de Estudos Econômicos e Sociais da Bahia</a
          ></b
        >
      </div>
    </div>
  </div>

  <div class="limiter pad4y clearfix">
    <!-- Início Parceiros -->
    <h1 id="patrocinadores" class="space-bottom2 left">
      <h1 class="space-bottom2 left">Parceiros</h1>
    </h1>

    <div class="clearfix space-bottom2">
      <a
        class="col4 pad2 center"
        href="http://memoria2.cnpq.br/web/guest/chamadas-publicas?p_p_id=resultadosportlet_WAR_resultadoscnpqportlet_INSTANCE_0ZaM&filtro=abertas&detalha=chamadaDivulgada&idDivulgacao=12765"
        target="_blank"
      >
        <img
          src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/cnpq-logo.png"
          alt="Logo CNPq"
          style="height: 70px"
        />
      </a>
      <a
        class="col4 pad2 center"
        href="https://www.tomtom.com/"
        target="_blank"
      >
        <img
          src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/tomtom.png"
          alt="Logo TomTom"
          style="height: 70px"
        />
      </a>
      <a
        class="col4 pad2 center"
        href="https://www.instagram.com/dronemapper23"
        target="_blank"
      >
        <img
          src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/DroneMapper.png"
          alt="Logo DroneMapper"
          style="height: 70px"
        />
      </a>
    </div>

    <div class="clearfix space-bottom4">
      <div class="col4 pad2 center">
        <b
          ><a
          >
            Financiamento via Edital nº 39/2024
          </a></b
        >
      </div>
      <div class="col4 pad2 center">
        <b
          ><a>
            Patrocinador Master
          </a></b
        >
      </div>
      <div class="col4 pad2 center">
        <b
          ><a>
            Patrocinador Master
          </a></b
        >
      </div>
    </div>
  </div>

  <div class="clearfix space-bottom2">
      <a
        class="col4 pad2 center"
        href="https://www.iquali.com.br/cursos"
        target="_blank"
      >
        <img
          src="XXXXXX"
          alt="Logo Iquali"
          style="height: 70px"
        />
      </a>
      <a
        class="col4 pad2 center"
        href="https://www.instagram.com/dueviagens/"
        target="_blank"
      >
        <img
          src="XXXXXXX"
          alt="Logo Due Viagens"
          style="height: 70px"
        />
      </a>
      <a
        class="col4 pad2 center"
        href="https://www.geotectecnologia.com.br/"
        target="_blank"
      >
        <img
          src="XXXXXXX"
          alt="Logo GeoTec Tecnologia"
          style="height: 70px"
        />
      </a>
  </div>

  <div class="clearfix space-bottom4">
      <div class="col4 pad2 center">
        <b
          ><a
          >
            Patrocinador
          </a></b
        >
      </div>
      <div class="col4 pad2 center">
        <b
          ><a>
            Patrocinador
          </a></b
        >
      </div>
      <div class="col4 pad2 center">
        <b
          ><a>
            Patrocinador
          </a></b
        >
      </div>
    </div>
 </div>
  
  <!-- Início dos Apoiadores -->
  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 left">Apoiadores</h1>

    <div class="clearfix space-top4">
      <!-- Linha 1 de Apoiadores -->
      <div class="col4 pad2 center space-bottom4">
        <a
          href="https://sites.google.com/view/youthmappersufba/p%C3%A1gina-inicial?authuser=0"
          target="_blank"
        >
          <img
            src="https://sotm-br.github.io/2025/img/logo/ym_ufba.jpg"
            alt="Logo YouthMappers UFBA"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b
          ><a href="https://www.instagram.com/youthmappersufba" target="_blank"
            >YouthMappers at UFBA</a
          ></b
        >
      </div>

      <div class="col4 pad2 center space-bottom4">
        <a href="http://www.labgeolivre.ufpr.br/mapealivre/" target="_blank">
          <img
            src="https://sotm-br.github.io/2025/img/logo/mapeadores-pequeno.png"
            alt="Logo Mapeadores Livres"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b
          ><a href="https://www.instagram.com/mapealivreufpr" target="_blank"
            >Mapeadores Livres UFPR</a
          ></b
        >
      </div>

      <div class="col4 pad2 center space-bottom4">
        <a
          href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV"
          target="_blank"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/d/d6/YouthMappersUFV_transparente.png"
            alt="Logo YouthMappers UFV"
            style="height: 70px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b
          ><a
            href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV"
            target="_blank"
            >YouthMappers UFV</a
          ></b
        >
      </div>

      <!-- Linha 2 de Apoiadores -->
      <div class="col4 pad2 center space-bottom4">
        <a href="https://meninasdageo.com.br/" target="_blank">
          <img
            src="../img/logo/meninas_da_geo.PNG"
            alt="Logo Meninas da Geo"
            style="height: 110px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b
          ><a href="https://www.instagram.com/meninasdageo" target="_blank"
            >Meninas da Geo - IFPA</a
          ></b
        >
      </div>

      <div class="col4 pad2 center space-bottom4">
        <a href="https://www.umbraosm.com.br/" target="_blank">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Umbraosm-osm-brasil.jpg"
            alt="Logo UMBRAOSM"
            style="height: 70px; filter: none; margin-bottom: 80px"
          />
        </a>
        <br />
        <b
          ><a href="https://www.umbraosm.com.br/" target="_blank"
            >UMBRAOSM</a
          ></b
        >
      </div>

      <div class="col4 pad2 center space-bottom4">
        <a href="https://ppec.ufba.br/" target="_blank">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRufh_nf5lT-oHYouLxbYl6g5-KEZGT2jYpW9pc04zkR1GpXg6XlHAgc2QCP4K7qaYT7W4&usqp=CAU"
            alt="Logo PPEC"
            style="height: 70px; filter: none; margin-bottom: 80px"
          />
        </a>
        <br />
        <b><a href="https://ppec.ufba.br/" target="_blank">PPEC</a></b>
      </div>

      <!-- Linha 3 de Apoiadores -->
      <div class="col4 pad2 center space-bottom4">
        <a href="#" target="_blank">
          <img
            src="../img/logo/geomapazonia.PNG"
            alt="Logo GeoMapazônia"
            style="height: 110px; filter: none; margin-bottom: 40px"
          />
        </a>
        <br />
        <b><a href="#" target="_blank">GeoMapazônia</a></b>
      </div>
    </div>
  </div>
</section>
