<section class="contain dark" id="sponsors">

	<div class="limiter pad4y clearfix">
		<h1 id="patrocinadores" class="space-bottom2 left"><a href="/2025/#patrocinadores">Patrocinadores</a></h1>

 		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col4 pad2 space-bottom2 platinum" href="https://www.gov.br/cnpq/pt-br" target="_blank">
				<img src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/cnpq-logo.png" />
			</a><b><a class="col4 pad2 space-bottom2 platinum" href="https://www.gov.br/cnpq/pt-br" target="_blank">
					Financiador (Edital nº 39/2024)</a></b><br><br>
			<br><br>
		</div>

		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col4 pad2 space-bottom2 platinum" href="https://www.tomtom.com/" target="_blank">
				<img src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/tomtom.png" />
			</a><b><a class="col4 pad2 space-bottom2 platinum" href="https://www.tomtom.com/" target="_blank">
					Patrocinador Prata</a></b><br><br>
			<br><br>
		</div>

		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col4 pad2 space-bottom2 platinum" href="https://www.instagram.com/dronemapper23" target="_blank">
				<img src="https://raw.githubusercontent.com/sotm-br/2025/main/_includes/DroneMapper.png" />
			</a><b><a class="col4 pad2 space-bottom2 platinum" href="https://www.instagram.com/dronemapper23" target="_blank">
					Patrocinador Bronze</a></b><br><br>
			<br><br>
		</div>

    
		<div class="limiter pad4y clearfix">
			<h1 class="space-bottom2 left">Parcerias</h1>

      <div class="clearfix space-bottom2 space-top4 gold">
				<a class="col2 pad2 space-bottom2 sponsor"
					href="https://sites.google.com/view/youthmappersufba/p%C3%A1gina-inicial?authuser=0" target="_blank">
					<img src="https://sotm-br.github.io/2025/img/logo/ym_ufba.jpg" width="60%" />
				</a>
				<b><a class="col2 pad2 space-bottom2 sponsor"
						href="https://www.instagram.com/youthmappersufba" target="_blank">YouthMappers at	UFBA</a></b>
				<br><br>
			</div>
      <br><br>
      
			<div class="clearfix space-bottom2 space-top4 gold">
				<a class="col2 pad2 space-bottom2 sponsor" href="http://www.labgeolivre.ufpr.br/mapealivre/"
					target="_blank">
					<img src="https://sotm-br.github.io/2025/img/logo/mapeadores-pequeno.png" width="50%" />
				</a>
				<b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.instagram.com/mapealivreufpr"
						target="_blank">Mapeadores Livres UFPR</a></b><br><br>
			</div>
      <br><br>

			<div class="clearfix space-bottom2 space-top4 gold">
				<a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV"
					target="_blank">
					<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/YouthMappersUFV_transparente.png"
						width="60%" />
				</a>
				<b><a class="col2 pad2 space-bottom2 sponsor"
						href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV" target="_blank">YouthMappers UFV</a></b>
				<br><br>
			</div>
      <br><br>

			<div class="clearfix space-bottom2 space-top4 gold">
				<a class="col2 pad2 space-bottom2 sponsor" href="https://meninasdageo.com.br/" target="_blank">
					<img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Logo_Meninas_da_Geotecnologia.png"
						width="60%" />
				</a>
				<b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.instagram.com/meninasdageo" target="_blank">Meninas da Geo - IFPA</a></b>
				<br><br>
			</div>
      <br><br>

			<div class="clearfix space-bottom2 space-top4 gold">
				<a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/" target="_blank">
					<img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Umbraosm-osm-brasil.jpg" />
				</a><b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/" target="_blank">
						União dos Mapeadores Brasileiros do OpenStreetMap - UMBRAOSM</a></b><br><br>
			</div>

		</div>

</section>
